

.iconListWrapper {
   margin-top: 3rem;
   padding-top: 5rem;
   display: flex;
   justify-content: center;
}

.iconListWrapper div {
    padding-right: 1.5rem;
}


.icon {
    width: 4%;
}

.copyright {
    text-align: center;
}